<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31">
        <activity
            android:name=".FrontActivity"
            android:exported="false" />
        <activity
            android:name=".detail.DetailPredictActivity"
            android:exported="false"/>
<!--            android:theme="@style/actionbar.DetailPredictActivity"-->
        <activity
            android:name=".preditc.PredictActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".detail.DetailNewsActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>